{% extends "accounts/base.html" %}

{% block title %}To Do List{% endblock %}

{% block content %}
<h2>personal task</h2>
<ul>
    {% for task in personal_tasks %}
        <li>{{ task.title }}</li>
        <ul>{{ task.task_type }}</ul>
        <ul>{{ task.context }}</ul>
        <ul>{{ task.complexity }}</ul>
        <ul>{{ task.create_date }}</ul>
        <ul>{{ task.last_update }}</ul>
        <ul>{{ task.run_time }}</ul>
        <ul>{{ task.completed }}</ul>
        <ul>{{ task.created_by }}</ul>
        <li>
            {% for subtask in task.subtasks.all %}
                <li>{{ subtask.title }} {% if subtask.completed %}(выполнено){% endif %}</li>
                <ul>Sub task: {{ task.title }}</ul>
                <ul>{{ subtask.task_type }}</ul>
                <ul>{{ subtask.context }}</ul>
                <ul>{{ subtask.complexity }}</ul>
                <ul>{{ subtask.create_date }}</ul>
                <ul>{{ subtask.last_update }}</ul>
                <ul>{{ subtask.run_time }}</ul>
                <ul>{{ subtask.completed }}</ul>
            {% endfor %}
        </li>
    {% endfor %}
</ul>
<h2>shared tasks</h2>
<ul>
    {% for task in shared_tasks %}
        <li>{{ task.task.title }}</li>
        <ul>{{ task.task.task_type }}</ul>
        <ul>{{ task.task.context }}</ul>
        <ul>{{ task.task.complexity }}</ul>
        <ul>{{ task.task.create_date }}</ul>
        <ul>{{ task.task.last_update }}</ul>
        <ul>{{ task.task.run_time }}</ul>
        <ul>{{ task.task.completed }}</ul>
        <ul>{{ task.task.created_by }}</ul>
        <li>
            {% for subtask in task.task.subtasks.all %}
                <li>{{ subtask.title }} {% if subtask.completed %}(выполнено){% endif %}</li>
                <ul>Sub task: {{ task.task.title }}</ul>
                <ul>{{ subtask.task_type }}</ul>
                <ul>{{ subtask.context }}</ul>
                <ul>{{ subtask.complexity }}</ul>
                <ul>{{ subtask.create_date }}</ul>
                <ul>{{ subtask.last_update }}</ul>
                <ul>{{ subtask.run_time }}</ul>
                <ul>{{ subtask.completed }}</ul>
            {% endfor %}
        </li>
    {% endfor %}
</ul>
{% endblock %}